# created by virtualenv automatically
.venv/Lib
.gitignore

# Игнорировать файл с переменными окружения, чтобы токен не попал в репозиторий
.env

# Игнорировать кэш Python-файлов
# __pycache__/ - директория, где Python хранит скомпилированный байт-код (.pyc файлы)
__pycache__/
*.pyc

# Игнорировать виртуальное окружение
# Обычно виртуальные окружения создаются в папке venv/ или .venv/
# У каждого разработчика может быть свое виртуальное окружение со своими зависимостями
venv/
.venv/

# Игнорировать файлы IDE (например, PyCharm, VS Code)
# В зависимости от используемой IDE, могут создаваться свои служебные файлы/папки.
# Вот некоторые распространенные:
.idea/      # Для PyCharm
.vscode/    # Для VS Code
*.iml       # Файлы проектов JetBrains IDEs

# Игнорировать логи, если они будут создаваться
*.log

# Игнорировать системные файлы macOS
.DS_Store

# Игнорировать временные файлы редакторов
*~
credentials.json
.flake8